{% extends 'base_template/adminBase.html' %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">课程详情</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap table-bordered">
                                <thead>
                                <tr style="font-size: 30px">
                                    <th>序号</th>
                                    <th style="font-size: 25px">ID</th>
                                    <th style="font-size: 25px">课程名</th>
                                    <th style="font-size: 25px">学分</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for course in courses %}
                                    <tr class="table-responsive-sm table-light" style="font-size: 20px; ">
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ course.id }}</td>
                                        <td>{{ course.name }}</td>
                                        <td>{{ course.credit }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->


{% endblock main_content %}