{% extends 'base_template/adminBase.html' %}
{% block main_content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">编辑</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" action="{% url 'reset' name=user.username %}" method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label>你的用户名</label>
                                    <input type="text" class="form-control" name="username" value="{{ user.username }}"
                                           disabled="disabled">
                                </div>
                                <div class="form-group">
                                    <label>你的邮箱</label>
                                    <input type="text" class="form-control" name="username" value="{{ user.email }}"
                                           disabled="disabled">
                                </div>
                                {#                                <div class="form-group">#}
                                {#                                    <label>你的名字</label>#}
                                {#                                    <input type="text" class="form-control" name="name"#}
                                {#                                           value="{{ user.last_name }}">#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    <label>更改密码?</label>#}
                                {#                                    <input type="text" class="form-control" name="password"#}
                                {#                                           placeholder="Fill Only If You want to Change Password">#}
                                {#                                </div>#}
                                {#                                <div class="form-group">#}
                                {#                                    {% if messages %}#}
                                {#                                        {% for message in messages %}#}
                                {#                                            {% if message.tags == 'error' %}#}
                                {#                                                <div class="alert alert-danger"#}
                                {#                                                     style="margin-top:10px">{{ message }}</div>#}
                                {#                                            {% endif %}#}
                                {#                                            {% if message.tags == 'success' %}#}
                                {#                                                <div class="alert alert-success"#}
                                {#                                                     style="margin-top:10px">{{ message }}</div>#}
                                {#                                            {% endif %}#}
                                {#                                        {% endfor %}#}
                                {#                                    {% endif %}#}
                                {#                                </div>#}

                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-block">更改密码</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->


                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}