{% extends 'base_template/base.html' %}
{% load static %}
{% load mathfilters %}
{% block main_content %}
    <div id="content">
        <div class="container-fluid"><h3 class="text-dark mb-4">概览</h3>
            <div class="row mb-3">
                <div class="col-lg-4">
                    <div class="card mb-3">
                        <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4"
                                                                       src="#" width="160"
                                                                       height="160">
                            {#                                <div class="mb-3">#}
                            {#                                    <button class="btn btn-primary btn-sm" type="button">更改照片</button>#}
                            {#                                </div>#}
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row mb-3 d-none">
                        <div class="col">
                            <div class="card textwhite bg-primary text-white shadow">
                                <div class="card-body">
                                    <div class="row mb-2">
                                        <div class="col"><p class="m-0">Peformance</p>
                                            <p class="m-0"><strong>65.2%</strong></p></div>
                                        <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                    </div>
                                    <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since
                                        last month</p></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card textwhite bg-success text-white shadow">
                                <div class="card-body">
                                    <div class="row mb-2">
                                        <div class="col"><p class="m-0">Peformance</p>
                                            <p class="m-0"><strong>65.2%</strong></p></div>
                                        <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                    </div>
                                    <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since
                                        last month</p></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3"><p class="text-primary m-0 fw-bold">个人信息</p></div>
                                <div class="card-body">
                                    {#                                        <form>#}
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3"><label class="form-label"
                                                                     for="number"><strong>学号</strong></label><input
                                                    class="form-control" type="text" id="number"
                                                    value="{{ user.user_id }}" name="number" readonly></div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3"><label class="form-label"
                                                                     for="username"><strong>姓名</strong><br></label><input
                                                    class="form-control" type="text" id="username"
                                                    value="{{ user.username }}" name="username" readonly></div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3"><label class="form-label"
                                                                     for="email"><strong>邮箱</strong></label><input
                                                    class="form-control" type="email" id="email"
                                                    value="{{ user.email }}" name="email" readonly></div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3"><label class="form-label"
                                                                     for="first_name"><strong>专业</strong><br></label><input
                                                    class="form-control" type="text" id="first_name"
                                                    value="{{ user.student.inClass.subject }}" name="course" readonly>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3"><label class="form-label"
                                                                     for="last_name"><strong>年级</strong></label><input
                                                    class="form-control" type="text" id="last_name"
                                                    value="大 {{ now|add:1|sub:user.in_school_time.year }}" name="grade"
                                                    readonly></div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3"><label class="form-label"
                                                                     for="gender"><strong>性别</strong><br></label><input
                                                    class="form-control" type="text" id="first_name"
                                                    value="{{ user.student.gender }}" name="gender" readonly></div>
                                        </div>

                                    </div>
                                    {#                                        <div class="mb-3">#}
                                    {#                                            <button class="btn btn-primary btn-sm" type="submit">保存设置</button>#}
                                    {#                                        </div>#}
                                    {#                                        </form>#}
                                </div>
                            </div>
                            <div class="card shadow">
                                <div class="card-header py-3"><p class="text-primary m-0 fw-bold">联系方式</p></div>
                                <div class="card-body">
                                    {#                                        <form>#}
                                    <div class="mb-3"><label class="form-label"
                                                             for="address"><strong>地址</strong></label><input
                                            class="form-control" type="text" id="address"
                                            value="{{ user.student.address }}" name="address" readonly></div>
                                    <div class="row">
                                        {#                                        <div class="col">#}
                                        {#                                            <div class="mb-3"><label class="form-label"#}
                                        {#                                                                     for="city"><strong>城市</strong></label><input#}
                                        {#                                                    class="form-control" type="text" id="city"#}
                                        {#                                                    placeholder="河南" name="city"></div>#}
                                        {#                                        </div>#}
                                        {#                                        <div class="col">#}
                                        {#                                            <div class="mb-3"><label class="form-label"#}
                                        {#                                                                     for="country"><strong>国家</strong></label><input#}
                                        {#                                                    class="form-control" type="text" id="country"#}
                                        {#                                                    placeholder="中国" name="country"></div>#}
                                        {#                                        </div>#}
                                    </div>
                                    {#                                        <div class="mb-3">#}
                                    {#                                            <button class="btn btn-primary btn-sm" type="submit">保存设置</button>#}
                                    {#                                        </div>#}
                                    {#                                        </form>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-5"></div>
        </div>
    </div>
{% endblock main_content %}